@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.gh-btn-md {
  padding: 5px 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Inter", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  color: #24292f;
}
.box {
  max-width: 1200px;
  margin: 0 auto;
}
.buttons {
  /* width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    column-gap: 16px;
    overflow: auto; */
  padding: 32px;
}
.gh-btn-sm {
  padding: 3px 12px;
}
.gh-btn svg {
  fill: currentColor;
}
.gh-box[theme="light-default"] {
  background-color: #fff;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  /* padding: 32px; */
}
.gh-btn[theme="light-default"] {
  width: fit-content;
  font-family: "Inter", sans-serif;
  appearance: none;
  background-color: #f6f8fa;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04), 0 1px 0 rgba(255, 255, 255, 0.25);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  transition-property: color, background-color, border-color;
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid;
  border-color: rgba(27, 31, 36, 0.15);
}
.gh-btn:hover[theme="light-default"] {
  transition-duration: 0.1s;
}
.gh-btn:active[theme="light-default"] {
  transition: none;
}
.gh-btn-normal[theme="light-default"] {
  color: #24292f;
}
.gh-btn-normal:hover[theme="light-default"] {
  background-color: #f3f4f6;
}
.gh-btn-normal:active[theme="light-default"] {
  background-color: hsla(220, 14%, 93%, 1);
}
.gh-btn-blue[theme="light-default"] {
  color: #0969da;
}
.gh-btn-blue:hover[theme="light-default"] {
  color: #fff;
  background-color: #0969da;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);
}
.gh-btn-blue:active[theme="light-default"] {
  background-color: hsla(212, 92%, 42%, 1);
  box-shadow: 0 1px 0 rgba(0, 33, 85, 0.2);
}
.gh-btn-green[theme="light-default"] {
  color: #fff;
  background-color: #2da44e;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);
}
.gh-btn-green:hover[theme="light-default"] {
  background-color: #2c974b;
}
.gh-btn-green:active[theme="light-default"] {
  background-color: hsla(137, 55%, 36%, 1);
  box-shadow: 1 1px 0 rgba(0, 45, 17, 0.2);
}
.gh-btn-red[theme="light-default"] {
  color: #cf222e;
}
.gh-btn-red:hover[theme="light-default"] {
  color: #fff;
  background-color: #a40e26;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);
}
.gh-btn-red:active[theme="light-default"] {
  background-color: hsla(356, 72%, 44%, 1);
}
